p{
    font-family:'Roboto', sans-serif ;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    opacity: 50%;
}
footer{
    background-color: black;
    text-align: center;
    padding-top: 10vw;
    padding-bottom: 0.01vw;
}